@model TGF.WebApp.Models.PostVM

<h3>Are you sure you want to delete this post?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tytuł
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Data publikacji
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class="col-sm-2">
            Autor
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            Kontent
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="StoryId" class="form-control" hidden />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @{
            if (User.IsInRole("Admin"))
            {
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a class="" asp-controller="Story" asp-action="Get" asp-route-id="@Model.StoryId">Powrót do historii</a>
                </div>
            }
        }
    </form>
</div>
