@model IEnumerable<TGF.WebApp.Models.PostVM>

<h4>Post List</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title" data-toggle="collapse" data-target="#content-@item.Id"> @Html.DisplayFor(modelItem => item.Title)</h5>
        <p class="card-text data"><small class="text-muted">@Html.DisplayFor(modelItem => item.PublicationDate)</small></p>
        <p class="card-text collapse content" id="content-@item.Id">@Html.DisplayFor(modelItem => item.Content)</p>
        @*<p class="card-text collapse" id="content-hide-@item.Id">
            @Html.DisplayFor(modelItem => item.Short)...
            <a href="#" data-toggle="collapse" data-target="#content-show-@item.Id" onclick="toggle(@item.Id)"> Show more</a>
        </p>
        <p class="card-text collapse" id="content-show-@item.Id" hidden>
            @Html.DisplayFor(modelItem => item.Content)
            <a href="#" data-toggle="collapse" data-target="#content-hide-@item.Id" onclick="toggle(@item.Id)"> Hide</a>
        </p>*@
    </div>
    <div class="card-body foot">
        <span class="mr-2">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
        <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
    </div>
</div>
}

<style>
    .card-title:hover {
        cursor: pointer;
        color: #6c6767;
    }

    .foot {
        padding-top: 0;
    }

    .data {
        margin-bottom: 0;
    }

    .content {
        margin-top: 16px;
    }
</style>

<script>
    console.log(contentHide.hidden)

    function toggle(id) {
        var contentHide = document.getElementById('content-hide-' + id)
        var contentShow = document.getElementById('content-show-' + id)
        console.log(contentHide.hidden)
        console.log(contentShow.hidden)
        if (!contentHide.hidden) {
            contentHide.hidden = true;
            contentShow.hidden = false;
        } else {
            contentHide.hidden = false;
            contentShow.hidden = true;
        }
    }
</script>
