@model TGF.WebApp.Models.CharacterCardVM

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CharacterCardVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppearanceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppearanceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
