@model TGF.WebApp.Models.StoryVM
@using System.Security.Claims

<h5 class="mb-3">Historia</h5>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text text-muted">Data utworzenia: @Model.CreationDate.ToShortDateString()</p>

        <h5 class="mb-3" style="font-size: 18px;">Uczestniczące postaci</h5>
        <ul class="list-group mb-4">
            @foreach (var ch in Model.Characters)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="text-dark card-link" asp-controller="Character" asp-action="Get" asp-route-id="@ch.Id">
                        @ch.Name
                        <span class="text-muted"> [@ch.Profile.Name]</span>
                    </a>
                    @if (ch.Profile.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value || User.IsInRole("Admin"))
                    {
                        <a class="text-dark card-link" asp-controller="CharacterStory" asp-action="Delete" asp-route-cId="@ch.Id" asp-route-sId="@Model.Id">Usuń postać</a>
                    }
                </li>
            }
        </ul>

        <div class="dropdown mb-4">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dodaj nową postać
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var ch in Model.OtherCharacters)
                {
                    <a class="dropdown-item" asp-controller="CharacterStory" asp-action="Create" asp-route-cId="@ch.Id" asp-route-sId="@Model.Id">
                        @ch.Name
                        <span class="text-muted"> [@ch.Profile.Name]</span>
                    </a>
                }
            </div>
        </div>

        <h5 class="mb-3" style="font-size: 18px;">Posty</h5>
        @if (!User.IsInRole("Admin"))
        {
            <p>
                <a class="card-link" asp-controller="Post" asp-action="Create" asp-route-story="@Model.Id">Dodaj nowy post</a>
            </p>
        }

        @foreach (var post in Model.Posts)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="card-title post-title" data-toggle="collapse" data-target="#content-@post.Id" style="font-size: 18px;">
                        @post.Character.Name: @post.Title
                    </h6>
                    <p class="card-text data">
                        <small class="text-muted">@post.PublicationDate</small>
                    </p>
                    <p class="card-text collapse content text-justify" id="content-@post.Id">@post.Content</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="text-muted" style="margin: 0;">Autor: @post.Character.Profile.Name</p>
                    <div>
                        @if (post.Character.Profile.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                        {
                            <a class="card-link" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edytuj</a>
                            <a class="card-link" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">Usuń</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .post-title:hover {
        cursor: pointer;
        color: #6c6767;
    }

    .foot {
        padding-top: 0;
    }

    .data {
        margin-bottom: 0;
    }

    .content {
        margin-top: 16px;
    }
</style>
